@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Variables */
:root{
--main-color: #10cab7 ;
--secondary-color: #2c4755;
--section-padding: 60px;
--section-background: #f6f6f6;
}
/* End Variables */


/* Global RULES */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* SMOOTH SCROLLING */
html {
    scroll-behavior: smooth;
  }

body{
    font-family:"Work Sans" , sans-serif;
}

/* طول ما انا عايز احجم حجم السكشن الي هشتغل فيه ومخلهوش يملا الشاشة كلها بستخدمه 
لو تلاحظ مستخدمتهوش في اللاندينج */
.container{
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}


@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}


@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

/* End Global RULES */

/* main component special heading */


.special-heading {
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-weight: 800;
    color: #ebeced;
    letter-spacing: -3px;
}

.special-heading + p {
    text-align: center;
    color: #797979;
    font-size: 20px;
    margin: -30px 0 0 ;
}

@media ( max-width: 767px){
    .special-heading{
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
        font-size: 15px;
    }
}

/* main component special heading */


/* Start header */

.header {
    padding: 20px;

}

/* ال ليست بتنزل تحت الصورة تبع تدفق الصفحة فانا عايزها جنب الصورة فبعمل للكونتير الي شايلهم ديسبلاي فليكس */
.header .container {
    display: flex;
    justify-content: space-between;
    /* عشان اخليهم جنب بعض */
    align-items: center;   
    /* عشان يبقوا على نفس الخط */
}

.logo{
    width: 80px;
}

.container .links {
    position: relative;
    
}

/* .container li {
    position: absolute;
} */
.container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    /* بتخلي العناصر تبقى تحت بعض */
    justify-content: flex-end;
    /* بدل ما كنت بكتب من الشمال لليمين هتبقى من اليمين للشمال عشان اخلي طرف النهاية شمال زي ما موجود في الديزاين */
}

.container .links .icon span {
    background-color: black;
    width: 100%;
    /* ده معناه إن العنصر (اللي مطبق عليه الستايل ده) هياخد 100% من عرض الـ "العنصر الأب" بتاعه (Parent Element). */
    height: 3px;
    margin-bottom: 5px;
}

.container .links .icon span:nth-child(2){
    width: 70%;
    transition: 0.3s;
}

.container .links:hover .icon span:nth-child(2){
    width: 100%;
}

.container .links:hover ul {
display: block;
/* make it appear */

}



.header .container ul {
list-style: none;
/* delete dots' list */
margin: 0;
padding: 0;
/* i deleted padding , margin to make it in one vertical line with icon  */
background-color: #f6f6f6;
position: absolute;
right: 0;
/*  بتأمر العنصر إنه يتحرك بحيث يكون على أقصى اليمين بالنسبة للعنصر الأب.

كلمة "ملزوق في اليمين" = يعني مفيش أي مسافة بين يمين العنصر و يمين العنصر الأب.*/
/* يعني قصدك ان الابن يعتبر بادئ من نفس نقطة بداية الاب على اليمين */

min-width: 180px;
top: calc(100% + 15px);
/* we make 15px for arrow  */
display: none;   
z-index: 1; 
/* عشان تبقى فوق اللاندينج متنزلش تحتيه */

}

.header .container ul ::before{
    /* بيفور يعني حط حاجة قبل الكلام او المحتوى بتاع يو إل الليست بتاعي */
    content: "";
    /* ده عشان عايزين نحط سهم قبل المحتوى الفعلي بتاعنا فبنسيبله مساحة */
    border: solid 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
/* هنا ببيعمل 4 مربعات لكل عنصر بس الرايت والتوب بيخليهم كلهم في نفس البوزيشن فوق بعض فمش باينين و الي خلاني اقدر اتحكم فيهم هو  الابسليوت بوزيشن */
}



.header .container ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;

}



.header .container ul li a:hover{
padding-left: 25px;
color: rgb(23, 194, 165);
}

.header .container ul li:not(:last-child) a {
    border-bottom: #ddd solid 0.5px;
}


/* end header */


/* start landing */

    .landing{
        position: relative;
        background-image: url(/myproject/img/landing.jpg);
        background-size: cover;
        height: calc(100vh - 72px);
        /* 100vh = كل ارتفاع الشاشة = 100%
      احسبلي ارتفاع العنصر ده يكون = طول الشاشة كلها 
      ناقص
       64px

    📌 الهدف؟
    علشان لما تحط الهيدر 
    (navbar)
     فوق، يكون 
    الـ landing section
     واخد باقي الشاشة من غير ما يغطيه الهيدر.
https://docs.google.com/document/d/1JanzkMVTi3Aiu7oirpukaPy7_PpW_UcQiJQe7WH2Z8Q/edit?usp=sharing
        */
        
    }

 
    .landing .intro-text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        /* 
        لما تعمل 
        top: 50%; left: 50%، 
        النقطة ●
         دي بتبقى بداية العنصر.
فلو العنصر كبير شوية، كله هينزل لتحت ولليمين. 
ده معناه ان بداية الكتابة او بداية المحتوى من نص الشاشة

ولكن حركة ترانسفورم بتخلي المحتوى نفسه في
 النص
*/

    text-align: center;

    /* i found a problem in mobile so we will solve it  */
    width: 320px; 
    max-width: 100%; 
    /* بزود السايز الثابت عشان لاقيت الكلام تحت بعضه فبوسعله عشان يبقى جنب بعضه و كمان خليت الماكس سايز كده عشان ميطلعش ابدا بره ابوه */
    }
    
    .landing .intro-text h1 {
        margin: 0;
        /* عشان اشيل الحز الي بينه وبينه الهيدر قبل ما اخليه في النص*/
        color: var(--main-color);
        font-weight: bold;
        font-size: 50px;

    }

    .landing .intro-text p {
        font-weight: 19px;
        line-height: 1.8;
    }
/* end landing */

/* Start Features */

.features {
    padding-top: 60px ;
    padding-bottom: 60px  ;
    background-color: #f6f6f6 ;
}


.features .container {
    display: grid; 
    /*  الاتو فيل بيوزع العرض عليهم بالتساوي و بقوله 300 ده اقل شئ بداية ولو فيه مساحة هياخد 1 فراكشن كامل*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
  }

  .feat {
    padding: 20px;
    text-align: center;
  }

  .feat i {
    color: var(--main-color);
  }

  .feat h3 {

    font-weight: 800;
    /* انا هنا عايز مسافة فوق و تحت العنوان ممكن اعمل بداينج و ممكن مارجن بس الفكرة انا لو عملت بادينج المساحة هتزيد اوي لان العنوان اتش 3 ليه ديفولت مارجن برقم و البادينج بتاعه الديفولت بزيرو فعشان كده بغير في ال مارجن لو غيرت في البادينج و خليته 30 محتاج اخلي المارجن بزيرو او اقسم ال 30 عليهم ا */
    margin: 30px 0 ;

  }

  .feat p {
    line-height: 1.8;
    font-size: 17px ;
    color: #777;
  }
  /* End Features */




/* Start Services */

.services{
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content{
    display: grid; 
    /*  الاتو فيل بيوزع العرض عليهم بالتساوي و بقوله 300 ده اقل شئ بداية ولو فيه مساحة هياخد 1 فراكشن كامل*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px; 
    margin-top: 100px;
}


.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv{
        text-align: center;
        flex-direction: column;
    }
}

.services .services-content .srv i{
color: var(--main-color);
/* بتشتغل مع فليكس 1  */
 flex-basis: 60px; 
}

.services .services-content .srv .text {
    /* العنصر هيبدأ حجمه بـ 60
    px،
     وبعدين هيكبر لو في مساحة فاضية في الأب،   */
    flex: 1;
  }

.services .services-content .srv .text p {
color: #444;
line-height: 1.6;
font-weight: 300;

}

.services .services-content .srv .text h3 {
    /*  بخلي 20 بيكسل من الشمال بس*/
    margin: 0 0 20px;
  }


.services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    /*  بخلي المستطيل ده بطول الصورة وكمان زيادة 100 بيكسل*/
    height: calc(100% + 100px);
    /* بقسم ال 100 بيكسل على حتتين فوق و تحت  */
    top: -50px;
    position: absolute;
    /* بجيب المستطيل يمين */
    right: 0;
    z-index: -1;
  }

.services .services-content .image img {
    width: 260px;
  }
  @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  } 

  /* End Services */




  /* Start Portfolio */

  .portfolio{
    padding-top: var(--section-padding) ;
    padding-bottom: var(--section-padding)  ;
    background-color: var(--section-background) ;
  }


  .portfolio-content {
    /* بعمل جريد للكونتينر الي شايل ال كارد */
    display: grid; 
    /*  الاتو فيل بيوزع العرض عليهم بالتساوي و بقوله 300 ده اقل شئ بداية ولو فيه مساحة هياخد 1 فراكشن كامل*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
   }

   .portfolio-content .card{
    background-color: white;
   }
   .portfolio-content .card img {
    width: 100%;
    
   }

   .portfolio-content .card .info {
    padding: 20px;
   }

   .portfolio-content .card .info h3 {
    margin: 0;
   }

   .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
   }
  /* End Portfolio */


  /* Start About */
  .about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  /* End About */


  /* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  @media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
  /* End Contact */
  /* Start Footer */
  .footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }
  /* End Footer */
  